<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加评论调试页</title>
</head>
<body>
<form action="/review" method="post" enctype="multipart/form-data" style="width: 500px;margin: auto">
    <input name="userId" placeholder="用户id" value="123">
    <input name="dishesId" placeholder="菜品id" value="432">
    <div> <input name="star" type="text" placeholder="星级"></div>
    <div>  <textarea name="content"></textarea></div>
    <div><input name="file" type="file"></div>
    <div> <input name="file" type="file"></div>
    <div> <input name="file" type="file"></div>
   <div> <input type="submit"></div>

</form>
</body>
</html>
