<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.snailrestaurant.mapper.CouponPackageMapper">

    <resultMap id="BaseResultMap" type="com.woniuxy.snailrestaurant.domain.CouponPackage">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="couponId" column="coupon_id" jdbcType="INTEGER"/>
            <result property="pickTime" column="pick_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,coupon_id,
        pick_time,status
    </sql>

</mapper>
